body{
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: rgb(0, 134, 158)
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;  
    color: white;
}

.flex-layout{
    display: flex;
    align-items: center;
    gap:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;   
    
}


.primary-navigation{
    display: flex;
    gap: 4rem;
    list-style: none;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link{
    text-decoration: none;  
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

img{
    max-width: 100%;
}

.logo{
    width: 4.5rem;
}


main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    

}

.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    
}


.body-text{
    color: rgb(117, 117, 117);
    font-size: 1.3rem;
}

h2{
    font-size: 1.7rem;
}

img{
    max-width: 100%;
}

.img-box{
    display:flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;  
}


.image{
    width: 20rem;
}

